# Python
*.pyc
*.pyo
__pycache__/
*.log
*.sqlite3
*.pot
*.egg-info
.pytest_cache
*.swp

# IDEs and Editor folders
.vscode/

# Env and Secrets
*.env
*.pem
*.key

# Virtual Environments
.venv/
backend/.venv/
frontend/.env/

# Backend
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/backup.sql
**/settings/local.py

# Frontend
frontend/**/migrations/
frontend/**/static/
frontend/tokens.json
frontend/**/*.txt
frontend/**/*.json

# CDK / DevOps
.cdk.staging
cdk.out
.env.deploy


doc.md