[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-xml = "*"
djangorestframework-csv = "*"
djangorestframework-yaml = "*"
django-filter = "*"
django-storages = "*"
djangorestframework-simplejwt = "*"
mangum = "*"
pymysql = "*"
python-decouple = "*"

[requires]
python_version = "3.11"

[dev-packages]
