{% load static %}
<div id="menu-items-content">
    {% for item in items %}
        <div class="menu-item">
            <a href="#">{{ item.title }}</a>
            <span class="menu-price">$ {{ item.price }}</span>
        </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if previous_page %}
        <a href="?page={{ previous_page }}" class="btn">Previous</a>
    {% endif %}

    {% if next_page %}
        <a href="?page={{ next_page }}" class="btn">Next</a>
    {% endif %}
</div>
