{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Menu</h1>
<div id="menu-items">
    {% include 'partials/menu_pagination.html' %}
</div>


<!-- Load more items via AJAX -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        console.log('Script loaded!');
        
        function loadMoreItems(url) {
            fetch(url, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.text())
            .then(html => {
                // Create temporary element to extract
                const tempDiv = document.createElement('div');
                tempDiv.innerHTML = html;
                
                // Get new items to the partial template
                const newContent = tempDiv.querySelector('#menu-items-content').innerHTML;
                const currentContentDiv = document.querySelector('#menu-items-content');
                currentContentDiv.insertAdjacentHTML('beforeend', newContent);
                
                // Update "load-more" button
                const newLoadMoreBtn = tempDiv.querySelector('#load-more');
                const loadMoreBtn = document.getElementById('load-more');
                if (newLoadMoreBtn) {

                    loadMoreBtn.setAttribute('data-next-page', newLoadMoreBtn.getAttribute('data-next-page'));
                } else {
                    if (loadMoreBtn) {
                        loadMoreBtn.remove();
                    }
                }
            })
            .catch(error => console.error('Error to load more items:', error));
        }
        
        document.addEventListener('click', function(e) {
            const btn = e.target.closest('#load-more');
            if (btn) {
                console.log('Botão load-more clicado');
                const nextPage = btn.getAttribute('data-next-page');
                const url = "{% url 'menu' %}?page=" + nextPage;
                loadMoreItems(url);
            }
        });
    });
    
</script>
{% endblock %}